* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/BG_ZOOM_ONE_ESP_\(3\)[1].png);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.campo-texto,
.campo-pantalla {
  text-align: center;
}
.botones .encriptar,
.botones .desencriptar {
  width: 10rem;
}
